h1 {
  color: red;
}

.grid {
  width: auto;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: space-evenly;
}

.tn {
  width: auto;
  height: auto;
  background-color: grey;
}
